# Ignore virtual environment
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore MLflow artifacts and logs
mlruns/
*.db

# Ignore datasets and large model files
*.h5
*.hdf5
*.keras
*.ckpt
*.tflite
*.pb
*.pkl
*.joblib

# Ignore TensorFlow / Keras cache
~/.keras/
.cache/

# Ignore temporary files
.DS_Store
*.log
